
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: "CiscoSansThin";
  src: url("../CiscoSansThin.otf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: CiscoSansThin arial;
}

body {
  color: white;
  font-size: 50px;
  font-family: ciscosansthin;
  background-color: black;
}

.logo {
  position: absolute;
  right: 50px;
  bottom: 30px;
  background-image: url('https://cdn.glitch.global/9ea3304c-e203-4632-87b7-4c542ada1c18/logo.webp?v=1725892953623');
  height: 200px;
  width: 280px;
  fill: white;
  background-repeat: no-repeat;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.poster {
  background-size: cover;
  /* background-image: url('images/poster2.jpeg'); */
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home h1 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 3em;
  font-size: 120px;
  opacity: 1;
  text-align: center;
}

.choose {
  display: none;
  background: black;
  flex-wrap: wrap;
}

.item {
  width: 50%;
  height: 50%;
  background-size: cover;
  transform: scale(1);
  transition: transform 0.2s;
}

.choose .touch {
  position: absolute;
  bottom: 11em;
}

.item:active {
  transform: scale(1.1);
}

.item1 {
  background-image: url("https://cdn.glitch.global/9ea3304c-e203-4632-87b7-4c542ada1c18/running.jpeg?v=1725892958222");
}
.item2 {
  background-image: url("https://cdn.glitch.global/9ea3304c-e203-4632-87b7-4c542ada1c18/football.jpeg?v=1725892953211");
}
.item3 {
  background-image: url("https://cdn.glitch.global/9ea3304c-e203-4632-87b7-4c542ada1c18/clothing.jpeg?v=1725892951418");
}
.item4 {
  background-image: url("https://cdn.glitch.global/9ea3304c-e203-4632-87b7-4c542ada1c18/outdoor.jpeg?v=1725892954385");
}

h1 {
  font-size: 100px;
}

.back {
  position: absolute;
  bottom: 4%;
  left: 45%;
  font-size: 0.7em;
}

.numbers {
  margin: 0em;
}

.dial-button {
  display: inline-block;
  margin: 2em 1em;
  width: 200px;
  text-align: center;
  font-size: 0.8em;
}

.avatar {
  background-size: 100% 100%;
  background-position: center top;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  transform: scale(1);
  transition: transform 0.2s;
  border-radius: 50%;
}

.call-an-expert,
.technical-details {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 50px;
  left: 50px;
}

.technical-details {
  left: auto;
  right: 50px;
}

.avatar:active {
  transform: scale(1.1);
}

.avatar1 {
  background-image: url("https://cdn.glitch.global/9ea3304c-e203-4632-87b7-4c542ada1c18/avatar1.jpeg?v=1725894639093");
}

.avatar2 {
  background-image: url("https://cdn.glitch.global/9ea3304c-e203-4632-87b7-4c542ada1c18/avatar2.jpeg?v=1725892950727");
}

.details {
  display: none;
  background-size: cover;
  background-image: url("https://cdn.glitch.global/9ea3304c-e203-4632-87b7-4c542ada1c18/football.jpeg?v=1725892953211");
}

/*
.details.red { background-image: url('./images/spider-red.jpg') }
.details.yellow { background-image: url('./images/spider-yellow.jpg') }
.details.white { background-image: url('./images/spider-white.jpg') }
.details.black { background-image: url('./images/spider-black.jpg') }
*/

.colors {
  position: absolute;
  display: flex;
  top: 1em;
  right: 1em;
  color: white;
  line-height: 50px;
  border-radius: 30px;
  background: #0009;
  padding: 10px;
  font-size: 16px;
}

.color {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
  opacity: 0.8;
  margin: 0 10px;
  border: 2px solid transparent;
}

.color.red {
  background-color: #9c2515;
}
.color.white {
  background-color: #fff;
}
.color.black {
  background-color: #000;
}
.color.yellow {
  background-color: #e2d184;
}

/* selected state */
.red .red,
.yellow .yellow,
.black .black,
.white .white {
  transform: scale(1.1);
}

.touch {
  margin-top: 14em;
  width: 100%;
  text-align: center;
}

.flags {
  position: absolute;
  bottom: 7%;
  right: 4%;
}

.flag-button {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.flag-button.selected {
  border: 6px solid white;
}

.norwegian {
  background-image: url("./images/Norway.png");
}

.english {
  background-image: url("./images/United-kingdom.png");
}

.pulse {
  animation: pulse 1.6s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

.alert {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: #3d727f;
  text-align: center;
  padding: 0.3em;
  font-size: 0.4em;
}

.quit {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
}

a {
  color: inherit;
  text-decoration: none;
}
